@font-face {
    font-family: Poppins;
    src: url('/Assets/Fonts/Poppins-Regular.ttf');
}
.nav-item{
    font-size: 0.8rem;
}
.bg-nx{
    background-color: var(--nx-color-primary);

}
.nx-brand{
   font-family: Poppins;
   font-size: larger;
   font-weight: bold;
   color: white;
}
.search-input-nx{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    padding-right: 20px;
}
.search-input-nx input{
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    font-size: small;
}

.btn-nx{
    background-color: var(--nx-color-primary);
    color: white;
    outline: none;
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 50px;
    font-size: small;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.btn-nx:hover{
background-color: var(--nx-color-primary-hover);

}
.nav-link{
    font-size: 0.88rem;
}
.active-link{
    border-bottom: 2px solid white;
}
@media (min-width:992px){
    .search-input-nx{
        width: 250px;
        height: 45px;
    }
}