/* Login.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  main{
    width: 400px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-card {
    width: 100%;
    text-align: center;
  }
  
  .login-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-subtitle {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: var(----nx-color-primary);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #143A52;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #1f5679;
  }
  
  .login-footer {
    margin-top: 20px;
  }
  
  .login-footer p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .login-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  