.fs-portfolio {
    font-size: 3.6rem;
    font-weight: bold;
}

.btn-nx-recent {
    text-wrap: nowrap;
    outline: none;
    border: 3px solid var(--nx-color-primary);
    background-color: white;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 45px;
    transition: .3s all ease-in-out;
}

.btn-nx-recent:hover {
    background: linear-gradient(to right, var(--nx-color-primary), #1a5172);
    color: white;
}

.active-btn {
    background: linear-gradient(to right, var(--nx-color-primary), #1a5172);
    color: white !important;
}

.mySwiper {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    /* Center the buttons in each slide */
}

.btn-nx-recent{
    font-size: 14px;
    padding: 10px 25px;
    border: 2px solid #264653;
    border-radius: 50px;
    background-color: #f8f9fa;
    color: #264653;
    transition: all 0.3s ease;
    text-align: center;
    /* Ensures text alignment inside the button */
}



.btn-nx-recent:hover {
    background-color: #264653;
    color: #ffffff;
}

.rounded-pill-nx{
    border-radius: 50px;
}


@media (max-width:1200px) {
    .rounded-pill-nx{
        border-radius: 0px;
    }
    .mb-nx-2 {
        margin-bottom: 20px;
    }
    .to-side{
        position: absolute;
        background-color: white;
        height: 100%;
        width: 30px;
        right: 0px;
        z-index: 100;
        border-radius: 20%;
        box-shadow: rgb(255, 255, 255) 0px 7px 50px 8px;
        opacity: .9;
    }
    .to-side.hidden {
        opacity: 0;
        pointer-events: none;
      }
}
.card, .card-body{
    background-color: transparent !important;
    border: none;
}
.nx-tag{
    position: absolute;
    left: 20px;
    top: 30px;
    width: auto;
    height: 40px;
    background-color: #1a5172;
    z-index: 100;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}