*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}
body{
    background-color: #E3EFF3;
}
/* Thin, beautiful scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust width as desired */
}

::-webkit-scrollbar-track {
    background-color: white; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background-color: #0a386d; /* Scrollbar thumb color */
    /* border-radius: 4px; */
}

/* Optional styling for scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #0c4b93;
}
