:root {
    --nx-color-primary: #143A52;
    --nx-color-secondary: white;
    --nx-color-tertiary: #6E828A;
    --nx-color-fourth: #CDE3EB;
    --nx-color-alerming: #FF4A35;

}

main {
    height: auto;
    width: 100%;
}

.nx-top-h {
    color: var(--nx-color-alerming);

}

.nx-heading {
    font-size: 4rem;
}

.btn-main-nx {
    outline: none;
    border: none;
    background-color: var(--nx-color-primary);
    color: var(--nx-color-secondary);
    width: 200px;
    height: 60px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.srv-nx {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.border-nx {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.position-relative {
    position: relative;
    overflow: hidden;
    /* Ensure overlay stays within bounds */
}

.hover-overlay {
    position: absolute;
    top: -100%;
    /* Start hidden above the view */
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--nx-color-secondary);
    /* Semi-transparent overlay */
    transition: top 0.6s ease;
    /* Smooth sliding effect */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border-bottom-left-radius: 20px; */

    opacity: 0;
    /* Fully hidden by default */
}

.position-relative:hover .hover-overlay {
    top: 0;
    /* Slide down into view */
    opacity: .7;
    /* Make visible on hover */
}

.nx-hover-link {
    font-size: large;
    color: var(--nx-color-primary);
    font-weight: bold;
    font-size: 3rem;
    z-index: 100;
    opacity: 1 !important;
    text-decoration: none;
}
.s-nx{
    height: 350px;
}
.nx-img-m{
    width: 100%;
    height: 100%;
}
@media (min-width:992px) {
    .ico-nx{
        top: 80px;
        right: 10px;
    }
}
@media (max-width:992px) {
    .s-nx{
        height: 450px;
    }
    .ico-nx{
        top: 100px;
        right: 10px;
    }
    
}
@media (min-width:768px) and (max-width:992px){
    .nx-img-m{
        height: 75%;
        width: 75%;
        text-align: center;
    }
    .ico-nx{
        top: 100px;
        right: 80px;
    }
}
@media (max-width:769px) {
    
    .nx-heading{
        font-size: xx-large;
        font-weight: bold;
    }
}
@media (max-width:559px) {
    .s-nx{
        height: 300px;
    }
    
}
@media (max-width:487px) {
    .ico-nx{
        
        display: flex;
        position: relative !important;
        bottom: 0px;
    }
    
}