.border-nx {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.position-relative {
  position: relative;
  overflow: hidden;
  /* Ensure overlay stays within bounds */
}

.hover-overlay {
  position: absolute;
  top: -100%;
  /* Start hidden above the view */
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--nx-color-secondary);
  /* Semi-transparent overlay */
  transition: top 0.6s ease;
  /* Smooth sliding effect */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border-bottom-left-radius: 20px; */

  opacity: 0;
  /* Fully hidden by default */
}

.position-relative:hover .hover-overlay {
  top: 0;
  /* Slide down into view */
  opacity: .7;
  /* Make visible on hover */
}

.nx-hover-link {
  color: var(--nx-color-primary);
  font-weight: bold;
  font-size: 2.5rem;
  z-index: 100;
  opacity: 1 !important;
  text-decoration: none;
}

.mb-50 {
  margin-bottom: 50px;
}
.mb-100 {
  margin-bottom: 100px;
}

.content-box {
  position: relative;
  display: flex;
  gap: 2rem;
}

.content-box::after {
  content: "";
  position: absolute;
  top: 72px;
  width: 100%;
  height: 5px;
  background-color: var(--nx-color-primary);
  border-radius: 1em;
  z-index: -10;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
  max-width: 300px;
  transition: 0.5s ease-in-out;
  margin-bottom: 30px;
}


.box,
h6,
p {
  opacity: 0.7;
  transition: 0.5s ease-in-out;
}

.circle {
  padding: 1em;
  background-color: var(--nx-color-secondary);
  border-radius: 50%;
  transition: 0.5 ease-in-out;
}

.box:hover .circle {
  background-color: var(--nx-color-primary);
  color: var(--nx-color-secondary);
  transform: scale(1.2px);
}

.box:hover * {
  opacity: 1;
}

.box:hover h6 {
  transform: translateY(-20px);

}

.box:hover p {
  transform: translateY(20px);
}
.fs-nx{
  font-size: 2.5rem;
  font-weight: bold;
}
.hire-nx{
  height: 250px;
  background-color: var(--nx-color-primary);
  color: var(--nx-color-secondary);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  text-decoration: none;
}
@media (max-width:992px) {
  .content-box::after {
    display: none;
  }

  .content-box {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .box{
    max-width: 600px;
  }

}