.slider-container {
    position: relative;
    width: 100%;

    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  .options {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .option {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option.selected {
    background-color: var(--nx-color-primary);
    color: #fff;
  }
  
  .option:hover {
    background-color: #eaeaea;
  }
  
  .optional-message {
    width: 80%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
  }
  
  .slider-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .checkbox{
    background-color: white;
    color: black;
    padding: 13px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
  }
  .checkbox:hover{
    background-color: var(--nx-color-primary);
    color: var(--nx-color-secondary);
    transition: all .3s ease-in-out;
  }
  
  .prev-button,
  .next-button,
  .submit-button {
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    background-color: var(--nx-color-primary);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* margin-left: 20px; */
   
  }
  
  .prev-button:hover,
  .next-button:hover,
  .submit-button:hover {
    background-color: var(--nx-color-primary);
  }
  
  .next-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  .bg-hire-nx{
    background-color: white;
    color: black;
    cursor: pointer;
}
.bg-hire-nx:hover{
    background-color: var(--nx-color-primary);
    color: var(--nx-color-secondary);
    transition: all .3s ease-in-out;
}
.active-hire{
    background-color: var(--nx-color-primary);
    color: var(--nx-color-secondary);
}