.form-h4 {
    font-weight: bold;
}

.form-top-head {
    color: var(--nx-color-tertiary);
}

.f-nx {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
}

.input-form {
    border: none;
    border-bottom: 2px solid rgb(175, 175, 175);
    background-color: var(--nx-color-bg);
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
}
.input-form:focus{
    border-bottom: 2px solid var(--nx-color-primary);
}
.btn-nx-form {
    background-color: var(--nx-color-primary);
    color: #fff;
    outline: none;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
}
.btn-nx-form:hover{
    background-color: var(--nx-color-primary-hover);
}