.blog-circle {
    width: 40px;
    height: 40px;
    background-color: rgb(93, 91, 91);
    border-radius: 50%;
    margin: 0px 10px;
    position: relative;

}

.btn-blog {
    background-color: var(--nx-color-primary);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;

}

.btn-blog:hover {
    background-color: #1a5172;
}

.bg-light-nx {
    background-color: var(--nx-color-fourth);
}

.commentCard {
    color: black;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;

}

.commentCard .profile {

    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.commentCard .profile .profile-image {
    position: absolute;
    left: 8px;
    top: 5px;
}

.ico-footer {
    width: 35px;
    height: 35px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}