.blog-circle{
    width: 40px;
    height: 40px;
    background-color: rgb(93, 91, 91);
    border-radius: 50%;
    margin: 0px 10px;
    position: relative;

}
.btn-blog{
    background-color: var(--nx-color-primary);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;

}