.upperProfile{
    background: linear-gradient(to right, var(--nx-color-primary), #1a5172); 
    height: 200px;
    width: 100%;
    margin-bottom:100px;
}
.profile{
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:120px;
    left: 150px;
    
}

.nxImage{
    position: absolute;
    top:120px;
    left: 50%;
    background: url('https://res.cloudinary.com/dx9xdlbae/image/upload/v1732096856/p0rxgm33ztmzhe1kvlhe.svg');
    background-position: center;
}
.circleGradient{
    background: linear-gradient(to bottom, #CDE3EB, #E3EFF3);

}
.cards{
    height: auto;
    width:22rem ;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 0px 10px 20px;
}
