.circleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%; /* Adjust to create a bottom offset */
  overflow: hidden;
  z-index: -1; /* Behind text and images */
}

.circle {
  position: absolute;
  border-radius: 50%;
  animation: floatRandom infinite;
  opacity: 0.7;
}

/* Keyframes for random motion with right-side bias */
@keyframes floatRandom {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  20% {
    transform: translate(calc(50px + 200px * var(--randomX1)), calc(-100px + 200px * var(--randomY1))) scale(1.1);
    opacity: 0.8;
  }
  40% {
    transform: translate(calc(100px + 300px * var(--randomX2)), calc(-150px + 300px * var(--randomY2))) scale(0.9);
    opacity: 0.6;
  }
  60% {
    transform: translate(calc(150px + 200px * var(--randomX3)), calc(-100px + 200px * var(--randomY3))) scale(1.2);
    opacity: 0.7;
  }
  80% {
    transform: translate(calc(200px + 100px * var(--randomX4)), calc(-50px + 100px * var(--randomY4))) scale(1);
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
